* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Gill Sans", sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color:rgba(34, 116, 193, 0.77);
    border-radius: 10px;
    font-size: 20px;
}